<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:fragment="front" style="text-align: end">
    <div sec:authorize="isAnonymous()">
        <a class="text-dark" th:href="@{/front/auth/login}">로그인</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" th:href="@{/front/auth/join}">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a class="text-dark" th:text="${#authentication.name}">회원명</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" th:href="@{/front/auth/logout}">로그아웃</a>
    </div>
</div>
<div th:fragment="master" style="text-align: end">
    <div sec:authorize="isAnonymous()">
        <a class="text-dark" th:href="@{/master/auth/login}">로그인</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" th:href="@{/master/auth/join}">회원가입</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a class="text-dark" th:text="${#authentication.name}">관리자명</a>
        <span class="text-muted px-2">|</span>
        <a class="text-dark" th:href="@{/master/auth/logout}">로그아웃</a>
    </div>
</div>
</body>
</html>