<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/header::master"></div>
<h1>관리자 메인 페이지</h1>
<hr>
<div>
    <a>최근 7일 내에 가입한 회원수: </a>
    <a th:text="${weekJoin}"></a>
    <hr>
    <a>오늘 기준 회원 로그인한 인원수: </a>
    <a th:text="${todayLogin}"></a>
    <hr>
    <a class="text-dark" th:href="@{/master/users}">관리자 목록 바로가기</a>
</div>
</body>
</html>