<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/aside.css}">
</head>
<body>
<div th:replace="include/header::master"></div>

<aside class="sidebar" id="mySidebar">
    <a href="/master/main">home</a>
    <a href="/master/users">admins</a>
</aside>

<div class="main-content">
    <div class="container mt-4">
        <h1 class="mb-4">관리자 메인 페이지</h1>
        <p>관리자에게 보이는 메인페이지입니다.</p>
        <p>상세 카테고리는 좌측 사이드바에서 확인 가능합니다.</p>
        <hr>
        <h3 class="mb-4">사이트 통계</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-info">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title">최근 7일 내 가입 회원 수</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${weekJoin}">0명</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-success">
                    <div class="card-header bg-success text-white">
                        <h5 class="card-title">오늘 로그인한 회원 수</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${todayLogin}">0명</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>