<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<h1>관리자 메인 페이지</h1>
<div th:if="${username == null}">
    <a class="text-dark" th:href="@{/master/auth/login}">로그인</a>
    <span class="text-muted px-2">|</span>
    <a class="text-dark" th:href="@{/master/auth/join}">회원가입</a>
</div>
<div th:if="${username != null}">
    <a class="text-dark" href="#;" th:text="${username}">회원명</a>
    <span class="text-muted px-2">|</span>
    <a class="text-dark" th:href="@{/master/auth/logout}">로그아웃</a>
</div>
</body>
</html>