body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 50px; /* 줄여서 여백을 줄임 */
    background-color: #ffffff; /* 컨테이너 배경색 */
    text-align: center;
}

h1 {
    margin-bottom: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
}

.btn[disabled] {
    display: none;
}

.btn-primary, .btn-success, .btn-danger {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-block {
    width: 100%;
}

.text-muted {
    margin-top: 20px;
}

.modal-header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.modal-body {
    padding: 30px;
    text-align: left;
}

.modal-footer {
    padding: 10px 30px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: flex-end;
}

.form-check-label {
    margin-left: 10px;
    font-size: 14px;
}