<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/header::header"></div>
<h1>게시판 목록</h1>
<ul>
    <li th:each="board : ${boards}">
        <a th:href="@{'/front/board/' + ${board.idx} + '/posts'}" th:text="${board.boardTitle}">게시판 제목</a>
    </li>
</ul>
</body>
</html>