<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/header::front"></div>

<h1>게시글 수정</h1>
<form th:action="@{'/front/board/' + ${boardIdx} + '/post/' + ${post.idx} + '/edit'}" method="post" th:object="${post}">
    <input type="hidden" name="boardIdx" th:value="${boardIdx}" />
    <input type="hidden" id="noticeYn" name="noticeYn" th:field="*{noticeYn}"/>
    <table class="tb tb_row">
        <colgroup>
            <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
        </colgroup>
        <tbody>
        <tr th:if="${boardIdx==1}">
            <th scope="row">공지글</th>
            <td><span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"> 설정</label></span></td>
        </tr>

        <tr>
            <th>제목</th>
            <td colspan="3"><input type="text" id="title" name="title" th:field="*{title}" maxlength="50" placeholder="제목을 입력해 주세요." /></td>
        </tr>

        <tr>
            <th>작성자</th>
            <td colspan="3"><input type="text" id="writer" name="writer" th:value="${userId}" maxlength="10" readonly /></td>
        </tr>

        <tr>
            <th>내용</th>
            <td colspan="3"><textarea id="content" name="content" th:field="*{content}" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">수정</button>
</form>
</body>
</html>