<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 로그인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/header::front"></div>
<h1>회원 로그인 페이지</h1>
<div>
    <form th:action="@{/front/auth/login}" method="post" th:object="${loginForm}">
        <div class="mb-3">
            <label for="loginId">아이디</label>
            <input type="text" name="loginId" id="loginId" th:field="*{loginId}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="loginPw">비밀번호</label>
            <input type="password" name="loginPw" id="loginPw" th:field="*{loginPw}" class="form-control">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
            <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">자동 로그인</label>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <br>
    <a th:href="@{/front/auth/join}">회원가입</a>
</div>
<br>
<a th:href="@{'/front/main'}">메인으로</a>
</body>
</html>