<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원 메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>회원 메인 페이지</h1>
<div>
    <a class="text-dark" th:href="@{/front/board/list}">게시판 바로가기</a>
</div>
<div th:if="${username == null}">
    <a class="text-dark" th:href="@{/front/auth/login}">로그인</a>
    <span class="text-muted px-2">|</span>
    <a class="text-dark" th:href="@{/front/auth/join}">회원가입</a>
</div>
<div th:if="${username != null}">
    <a class="text-dark" href="#;" th:text="${username}">회원명</a>
    <span class="text-muted px-2">|</span>
    <a class="text-dark" th:href="@{/front/auth/logout}">로그아웃</a>
</div>
</body>
</html>