<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/header::front"></div>

<h1>회원 메인 페이지</h1>
<ul>
    <li th:each="board : ${boards}">
        <a th:href="@{'/front/board/' + ${board.idx} + '/posts'}" th:text="${board.boardTitle}">게시판 제목</a>
    </li>
</ul>
<div>
    <a class="text-dark" th:href="@{/front/users}">회원 목록 바로가기</a>
</div>
</body>
</html>