<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="include/front_header::header"></div>

<h1 th:text="${post.title}">게시글 제목</h1>
<p th:text="${post.content}">게시글 내용</p>
<a th:if="${post.userNo==userNo}" th:href="@{'/front/board/' + ${post.boardIdx} + '/post/' + ${post.idx} + '/edit'}">수정</a>
<a th:if="${userNo!=0}" th:href="@{'/front/board/' + ${post.boardIdx} + '/post/' + ${post.idx} + '/reply'}">답글쓰기</a>
<form th:if="${post.userNo==userNo}" th:action="@{'/front/board/post/' + ${post.idx} + '/delete'}" method="post">
    <button type="submit">삭제</button>
</form>
<a th:href="@{'/front/board/' + ${post.boardIdx} + '/posts'}">목록으로</a>
</body>
</html>