<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
<h1>새 글 쓰기</h1>
<form th:action="@{'/front/board/'+${boardIdx}+'/post/write'}" method="post" th:object="${post}">
    <input type="hidden" th:field="*{boardIdx}" value="${post.boardIdx}" />
    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" th:field="*{title}" />
    </div>
    <div>
        <label for="content">내용:</label>
        <textarea id="content" th:field="*{content}"></textarea>
    </div>
    <button type="submit">작성</button>
</form>
</body>
</html>